<div class="wb-minibench" style="position: center;">
  <menu style="">
    <!--
    <button ng-click="jeditChangeMode()">change mode</button>
    -->
  </menu>
  <!-- Left side, editor -->
  <div class="wb-editor row" style="max-height: 500px;">
    <div class="col-xs-10 col-sm-6">
      <div class="demo-stream" ng-jsoneditor="onLoadEditor" ng-model="jedit.json" options="jedit.options"></div>
    </div>
  <!-- Right side, canvas -->
    <div class="right-box col-xs-10 col-sm-6" style="position: center;">
      <!-- CANVAS -->
      <div class="canvas-container row">
        <div class="center-block" style="background: lightgrey;">
          <canvas class="center-block" class="wb-canvas" style="border:solid  lightgrey 1px; width:350px; height:100px; background: white;"></canvas>
          <button ng-click="runWeber()" class="wb-btn-run">run</button>
        </div>
      </div>
      <!-- SPREADSHEET -->
      <div ng-show="gridOptions.columnDefs.length" style="margin-top: 5px;">
        <div class="demo-params"
            ui-grid="gridOptions" 
            ui-grid-edit
            ui-grid-cellNav
            ui-grid-auto-resize style="height: 200px;"
            ng-style="getTableHeight()">
        </div>
      </div>
  </div>
</div>
